body {
    background: rgb(150, 70, 150);
    background: linear-gradient(175deg, rgba(150, 70, 150, 1) 0%, rgba(127, 0, 246, 1) 50%, rgba(150, 70, 150, 1) 100%);
    font-family: 'Klee One', cursive !important;
    letter-spacing: 1px;
}