* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h4 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family:"klee One";
    margin-bottom: 30px;
}

.fondo {
    background-color: #0a2a79;
    border: 1px solid #000;
    width: 90%;
    margin: auto;
    height:auto;
    padding: 5px;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.item {
    min-height: 200px;
    min-width: 200px;
    background-color: aqua;
    border: 2px solid;
}

.item:hover {
    transform: scale(1.2);
    transition: 0.7s;
    filter: brightness(1);
}



.item1 {
    background-color: coral;
    background-image: url(img/20201012_175412-min.jpg);
    background-size: cover;
    background-position: cover;
}

.item2 {
    grid-area: "item2";
    background-color: cadetblue;
    background-image: url(img/grid222-min.jpg);
    background-size: cover;
}

.item3 {
    grid-area: "item3";
    background-color: fuchsia;
    background-image: url(img/Grid888.jpg);
    background-size: cover;
}

.item4 {
    grid-area: "item4";
    background-color: forestgreen;
    background-image: url(img/IMG_20210510_132646_273.jpg);
    background-size: cover;
}

.item5 {
    grid-area: "item5";
    background-color: firebrick;
    background-image: url(img/grid66666-min.jpg);
    background-size: cover;
}

.item6 {
    grid-area: "item6";
    background-color: dodgerblue;
    background-image: url(img/IMG_20201101_182910_584.jpg);
    background-size: cover;
}

.item7 {
    grid-area: "item7";
    background-color: deeppink;
    background-image: url(img/Grid5.jpg);
    background-size: cover;
}

.item8 {
    grid-area: "item8";
    background-color: darkviolet;
    background-image: url(img/grid8-min.jpg);
    background-size: contain;
}



@media only screen and (min-width: 360px) {
    .fondo {
        background-color:#552955;
    }
}

@media only screen and (min-width: 480px) {
    .fondo {
        background-color:#0a2a79;
        grid-template-columns: 1fr 1fr;

    }

    .item {
        min-height: 150px;
        min-width: 150px;
    }
}

@media only screen and (min-width: 600px) {
    .fondo {
        background-color: #3caef0;
    }
}

@media only screen and (min-width: 768px) {
    .fondo {
        background-color: #ba3cf0;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item1 {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .item4 {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 4;
        background-position: center;
    }

    .item8 {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media only screen and (min-width: 1024px) {
    .fondo {
        background-color: #552955;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .item2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .item3 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .item8 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
}