* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_body";

header {
    margin-top: 20px;
    background-color: #FBD9CE;
    background: rgb(251, 217, 206);
    background: radial-gradient(circle, rgba(251, 217, 206, 1) 42%, rgba(36, 225, 234, 1) 70%, rgba(0, 212, 255, 1) 93%);
    border: 3px #552955 solid;
    margin-bottom: 50px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div1 {
    background-color: #FBD9CE;
    border: #F59751 solid 3px;
    margin: 20px;
    padding: 2em;
}

.div2 {
    background-color: #FBD9CE;
    border: #F59751 solid 3px;
    margin: 20px;
    padding: 2em;

}
h1 {
    font-family: "Klee One", cursive !important;
    letter-spacing: 1px;
    text-align: center;
}
    .colorUno {
        color: #F59751;
    }
    

.colorDos {
    color: crimson;
}
p {
    color: #552955;
}
footer {
    grid-area: footer;
    margin-bottom: 20px;
    background-color: #3de9db;
    background: rgb(251, 217, 206);
    background: linear-gradient(54deg, rgba(251, 217, 206, 1) 27%, rgba(61, 233, 219, 1) 67%, rgba(36, 225, 234, 1) 86%, rgba(0, 212, 255, 1) 100%);
    border: 3px solid #552955;
    border-style: inset;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        display: flex;
    }

    a:hover {
        transform: translateX(0.5em);
        color: red;
        transition: .4s;
    }
}